/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 jun. 2023, 23:21:25
    Author     : CLAUDIO CRUZADO
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
* {
    font-family: Poppins, 'arial';
    margin: 0;
    box-sizing: border-box;
}

.swal2-confirm {
  background-color: #3D3C3B !important;
  color: #FFF !important;
  box-shadow: none !important;
}

.swal2-confirm:hover {
  background-color: #4D4B4A !important;
  color: #FFF !important;
  box-shadow: none !important;
}

header {
    background-color: #3D3C3B;
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 24px;
}

header h2 {
    font-size: 12px;
    color: white;
}

.encabezado-principal {
    width: 100%;
    height: 120px;
    background-color: #7C8071;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
    align-items: center;
}

.grupo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icono-encabezado {
    height: 103px;
    width: 103px;
    background-color: #3D3C3B;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono-encabezado i {
    font-size: 38px;
    color: #7C8071;
}

.grupo-principal p {
    margin-left: 24px;
    font-size: 24px;
    color: #DDE3CA;
}

.grupo-boton-nuevo button{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #DDE3CA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.grupo-boton-nuevo button i {
    font-size: 20px;
    margin-right: 4px;
}

.grupo-boton-nuevo button:hover {
    background-color: #3D3C3B;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #DDE3CA;
}

.opciones-listado {
    display: flex;
    flex-direction: row;
    padding: 24px;
    justify-content: space-between;
}

.grupo-btn-opciones {
    display: flex;
    flex-direction: row;
}

.grupo-btn-opciones button {
    border: none;
    background-color: #DDE3CA;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grupo-btn-opciones button i {
    margin-right: 4px;
    font-size: 20px;
}

.grupo-btn-opciones button:hover {
    cursor: pointer;
}

.grupo-buscar {
    display: flex;
    flex-direction: row;
    border: 1px solid #3D3C3B;
    border-radius: 5px;
}

.grupo-buscar input {
    width: 350px;
    height: 42px;
    padding-left: 8px;
    outline: none;
}

.grupo-buscar button {
    background-color: #3D3C3B;
    color: #DDE3CA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grupo-buscar button i {
    margin-right: 4px;
    font-size: 20px;
}

.bg-container-body {
    width: auto;
    max-height: 350px;
    padding: 0 12px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .container-body {
    width: auto;
    max-height: 350px;
    overflow-y: scroll;
    border: 1px solid #DDE3CA;
    border-radius: 5px;
  }
  
  .container-body::-webkit-scrollbar {
    width: 8px;
  }
  
  .container-body::-webkit-scrollbar-track {
    background-color: #DDE3CA;
  }
  
  .container-body::-webkit-scrollbar-thumb {
    background-color: #7C8071;
    border-radius: 4px;
  }
  
  .container-body::-webkit-scrollbar-thumb:hover {
    background-color: #3D3C3B;
  }


  table{
    border-spacing: 0px;
    height: 100%;
  }
  
  thead {
    height: 100%;
    position: sticky;
    top: 0;
    background-color: #7C8071;
    color: white;
  }
  
  tbody {
    display: block;
    height: 100%;
  }
  
  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    transition: all 0.3s ease;
  }
  
  th:hover {
    cursor: pointer;
    background-color: #3D3C3B;
  }
  
  th, td {
    width: auto;
    padding: 8px;
    text-align: center;
  }
  
  th:nth-child(1),
  td:nth-child(1),
  th:nth-child(2),
  td:nth-child(2),
  th:nth-child(3),
  td:nth-child(3),
  th:nth-child(4),
  td:nth-child(4),
  th:nth-child(5),
  td:nth-child(5),
  th:nth-child(6),
  td:nth-child(6),
  th:nth-child(7),
  td:nth-child(7){
    width: 10%;
    padding: 8px;
    text-align: center;
  }
 
  
  tbody tr:hover {
    background-color: rgba(224, 224, 224, 0.5);
    transition: all 0.3s ease;
  }
  
  td {
    font-size: 14px;
  }
  
  .btn-editar, .btn-eliminar, .btn-ver-detalle {
    border: none;
    background-color: transparent;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    border: 1px solid #DDE3CA;
  }
  
  
  .btn-editar:hover {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .btn-eliminar:hover {
    background-color: firebrick;
    border: 1px solid firebrick;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .btn-option-table{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 4px;
  }
  
  .btn-option-table i {
    font-size: 16px;
  }