<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
          Vista\Modules\Login\Componentes\Page\Login\Login.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorEmpresas</servlet-name>
        <servlet-class>Controlador.ControladorEmpresas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpresas</servlet-name>
        <url-pattern>/ControladorEmpresas</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorEmpresasRegistro</servlet-name>
        <servlet-class>Controlador.ControladorEmpresasRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpresasRegistro</servlet-name>
        <url-pattern>/ControladorEmpresasRegistro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorEmpresasEditar</servlet-name>
        <servlet-class>Controlador.ControladorEmpresasEditar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpresasEditar</servlet-name>
        <url-pattern>/ControladorEmpresasEditar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>Controlador.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorEmpleadoRegistro</servlet-name>
        <servlet-class>Controlador.ControladorEmpleadoRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleadoRegistro</servlet-name>
        <url-pattern>/ControladorEmpleadoRegistro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorEmpleadoEditar</servlet-name>
        <servlet-class>Controlador.ControladorEmpleadoEditar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorEmpleadoEditar</servlet-name>
        <url-pattern>/ControladorEmpleadoEditar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorAuto</servlet-name>
        <servlet-class>Controlador.ControladorAuto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorAuto</servlet-name>
        <url-pattern>/ControladorAuto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControladorRegistroActividades</servlet-name>
        <servlet-class>Controlador.RegistroActividades</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorRegistroActividades</servlet-name>
        <url-pattern>/ControladorRegistroActividades</url-pattern>
    </servlet-mapping>
</web-app>
