/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 jun. 2023, 23:40:34
    Author     : CLAUDIO CRUZADO
*/

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.FormularioRegistro {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    width: 45%;
}

.FormularioRegistro .Grupos {
    margin-bottom: 10px;
}

.FormularioRegistro label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

.FormularioRegistro input[type="text"],
.FormularioRegistro input[type="number"],
.FormularioRegistro input[type="date"],
.FormularioRegistro input[type="file"],
.FormularioRegistro select {
    width: 100%;
    padding: 6px; /* Ajusta el tamaño del padding */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px; /* Tamaño de fuente ajustado */
}

.FormularioRegistro .Botones {
    text-align: center;
    margin-top: 20px;
}

.FormularioRegistro .Botones button {
    padding: 8px 16px;
    background-color: #3D3C3B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

.FormularioRegistro .Botones button:hover {
    background-color: #847D7D;
}

table {
    width: 90%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    font-size: 12px; /* Tamaño de fuente ajustado */
}

table th {
    font-weight: 600;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table i.uil-trash {
  font-size: 14px; /* Ajustar el tamaño del ícono a 12px */
  cursor: pointer;
  transition: color 0.3s; /* Agregar una transición suave al cambio de color */
}

table i.uil-trash:hover {
  color: red; /* Cambiar el color a rojo en el estado de hover */
}

.Botones {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

.Botones button {
    padding: 8px 16px;
    background-color: #3D3C3B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px; /* Tamaño de fuente ajustado */
}

.Botones button:hover {
    background-color: #847D7D;
}

/* Añadir estilo para el total */
#totalLabel {
    font-weight: 600;
    font-size: 14px;
    margin-right: 21%;
    white-space: nowrap;
}

/* Ajustar estilos de los botones */
.Botones button {
    padding: 8px 16px;
    background-color: #3D3C3B;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-left: 10px; /* Agregar margen izquierdo para separar los botones */
}

/* Ajustar estilos de los botones en hover */
.Botones button:hover {
    background-color: #847D7D;
}